<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <p>[<a href="{{ site.baseurl }}">Back to top</a>]</p>
    <div class="wrapper">
      {{ content }}
    </div>
    <p>[<a href="{{ site.baseurl }}">Back to top</a>]</p>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
